
*{
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background: #424551;
}
.bg-img{
    background-image: url(phot.jpeg);
    background-repeat: no-repeat;
    background-size:90%;
    background-position: center center;
    

}

.header{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
a{
    text-decoration: none;
    color: #fff;
}
ul li{
    list-style: none;
    display: inline-block;
}
.header .logo a{
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 2px;
}
.header .logo a span{
    color: #ff9301;
    font-size: 45px;
}
.menubar .menu li{
    margin: 0 20px;
}
.menubar .menu li a {
    font-size: 21px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.5s;
}
.menubar .menu li a:hover{
    color: #ff9301;
}
.active{
    color: #ff9301;
}
.banner{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 25%;
    left: 150px;
    color: #fff;
}
.app-text{
    width: 50%;
    float: left;
    margin: 30px 0 30px 40px;
}
.app-text h6{
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 20px;
}

.app-text h2{
    font-size: 70px;
    font-weight: 700;
    margin: 0 0 15px;
    line-height: 1;
    color: #fff;
}
.app-text h3{
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 15px;
    line-height: 1;
    color: #ff9301;
}
.app-text p{
    width: 500px;
    font-size: 17px;
    line-height: 25px;
    color: #fff;
}
.cv-btn{
    margin-top: 40px;
}
.cv-btn a{
    background: #ff9301;
    font-size: 19px;
    letter-spacing: 1px;
    border: 1px solid #ff9301;
    padding: 13px 25px;
    border-radius: 50px;
    transition: all 0.5s;
}
.cv-btn a:hover{
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}
.quick-links{
    position: absolute;
    left: 0;
    bottom: 0;
    background: #222226;
    color: #fff;
}
.quick-links ul{
    margin: 60px auto;
    text-align: center;
}
.quick-links ul li{
    margin: 0 50px;
    cursor: pointer;
}
.quick-links ul li i{
    font-size: 30px;
    color: #ff9301;
}
.quick-links ul li p{
    margin-top: 15px;
    font-size: 16px;
}
.social-box{
    position: absolute;
    right: 50px;
    bottom: 50px;
    width: 24px;
}
.social-icons a{
    display: block;
    margin-bottom: 20px;
    text-align: center;
    color: #bbb;
    transition: all 0.5s;
}
.social-icon a:hover{
    color: #ff9301;
}
.follow-lebel{
    position: absolute;
    bottom: 100%;
    right: 0;
    color: #bbb;
    font-size: 24px;
    line-height: 24px;
    height: 24px;
    white-space: nowrap;
    transform-origin: 100% 0;
    text-align: right;
    padding-right: 75px;
    transform: rotate(90deg);
}
.follow-lebel:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 50px;
    height: 1px;
    background: #ff9301;
}